.thinDarkScrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.2) transparent;
}
.thinDarkScrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.thinDarkScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.18);
  border-radius: 9999px;
  border: 2px solid rgba(0,0,0,0);
  background-clip: padding-box;
}
.thinDarkScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,0.28);
}
.thinDarkScrollbar::-webkit-scrollbar-track {
  background: transparent;
}
